body {
    margin: 0;
    font-family: Segoe UI, Arial;
    background: #0f172a;
    color: #e5e7eb;
}

.header {
    background: #020617;
    padding: 18px;
    font-size: 22px;
    font-weight: bold;
}

.dashboard {
    padding: 25px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.card {
    background: #020617;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 25px;
}

.chart-box {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
}
